<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv=Content-Type content="text/html; charset=gb2312" />
	<title>NextCFD</title>
	<link rel="stylesheet" href="css/simstyle.css" type="text/css" charset="utf-8" />	
	<!--[if lte IE 7]>
		<link rel="stylesheet" href="css/simie.css" type="text/css" charset="utf-8" />	
	<![endif]-->
</head>

<body>
	<div id="header">
		<a href="index.html" id="logo"><img src="images/logo.jpg" alt="LOGO" /></a>
		<div id="navigation">
			<ul>
				<li><a href="index.html">首页</a></li>
				<li><a href="prjmanage.html">工程管理</a></li>
				<li><a href="model.html">模型</a></li>
				<li><a href="mesh.html">网格</a></li>
				<li><a href="calmode.html">计算模块</a></li>
				<li><a href="simulation.html">仿真</a></li>
				<li><a href="postprocess.html">后处理</a></li>
                <li class="selected"><a href="account.html">账户管理</a></li>
                <li><a href="help.html">获取帮助</a></li>
			</ul>
		</div>
	</div> <!-- /#header -->
	<div id="adbox">
		<div class="body">
		  <p>&nbsp;</p>
</div>
	</div> <!-- /#adbox --><!-- /#contents -->
  <div id="footer">
		<ul class="contacts">
			<h3>联系我们</h3>
			<li><span>Email</span>
			<p>: biz@nextcfd.cn</p></li>
			<li><span>地址</span>
			  <p>: 厦门市思明区厦门大学航空航天学院 361005</p></li>
			<li><span>电话</span>
			<p>: 86-0592-2186849</p></li>
		</ul>
		<ul id="connect">
			<h3>关注我们</h3>
			<li><a href="blog.html">新浪微博</a></li>
			<li><a href="http://facebook.com/freewebsitetemplates" target="_blank">微信</a></li>
			<li><a href="http://twitter.com/fwtemplates" target="_blank">人人网</a></li>
		</ul>
		<div id="newsletter">
			<p><b>获取最新信息</b></p>
			<p>&nbsp;</p>
			<p>登记邮箱您将定期获得NextCFD最新的服务动态和资讯更新.</p>
			<form action="" method="">
        <input type="text" value="Name" class="txtfield" onblur="javascript:if(this.value==''){this.value=this.defaultValue;}" onfocus="javascript:if(this.value==this.defaultValue){this.value='';}" />
				<input type="text" value="Enter Email Address" class="txtfield" onblur="javascript:if(this.value==''){this.value=this.defaultValue;}" onfocus="javascript:if(this.value==this.defaultValue){this.value='';}" />
				<input type="submit" value="" class="button" />
			</form>
		</div>
		<span class="footnote">版权所有 流体仿真共享平台 Copyright &copy; NextCFD 2017. All rights reserved</span></div> <!-- /#footer -->
</body>
</html>