<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <link rel="stylesheet" href="css/style.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="font/css/font-awesome.min.css">
    <script type="text/javascript" src="js/jquery-1.6.min.js"></script>
    <script type="text/javascript" src="js/customlib.js"></script>
    {% block additionJS %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <div class="global_navigation">
        <div>
          <a class="logo" href="#">
	    <strong class="b0">NextCFD</strong>
	  </a>
        </div>
        <div>
          <nav class="main-menu">
            <ul>
	      <li {% block nav_1 %}{% endblock %}><a href="index">首页</a></li>
	      <li {% block nav_2 %}{% endblock %}><a href="flowsim">流动仿真</a></li>
	      <li {% block nav_3 %}{% endblock %}><a href="flowmech">流体机械设计及优化</a></li>
	      <li {% block nav_4 %}{% endblock %}><a href="flowexp">仿真实例</a></li>
	      <li {% block nav_5 %}{% endblock %}><a href="aboutus">关于我们</a></li>
	      <li {% block nav_6 %}{% endblock %}><a href="contactus">联系我们</a></li>
              <li class="sub-menu"><a>3</a>
                <ul>
                  <li><a href="/cfd/auth">3-1</a></li>
                  <li><a href="3-2.html">3-2</a></li>
                </ul>
              </li>
	      {% if authenticated %}
	      <li {% block avatar %}{% endblock %} class="sub-menu"><a href="#"><span class="username">{% block nickname %}{% endblock %}</span><img class="userAvatar" src={% block useravatar %}{% endblock %}></a></li>
	      {% else %}
	      <li class="btnLogin"><a href="authentication">登录</a></li>
	      <li class="btnRegs"><a href="register">注册</a></li>
	      {% endif %}
	    </ul>
          </nav>
        </div>
      </div>
    </header>

    <div id="blank-div"></div>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    {% if not hidefoot %}
    <div id="footer">
      <ul class="contacts">
	<h3>联系我们</h3>
	<li><span>Email</span>
	  <p>: biz@nextcfd.cn</p></li>
	<li><span>地址</span>
	  <p>: 厦门市思明区厦门大学航空航天学院 361005</p></li>
	<li><span>电话</span>
	  <p>: 86-0592-2186849</p></li>
      </ul>
      <ul id="connect">
	<h3>关注我们</h3>
	<li><a href="blog.html">新浪微博</a></li>
	<li><a href="http://facebook.com/freewebsitetemplates" target="_blank">微信</a></li>
	<li><a href="http://twitter.com/fwtemplates" target="_blank">人人网</a></li>
      </ul>
      <div id="newsletter">
	<p><b>获取最新信息</b></p>
	<p>&nbsp;</p>
	<p>登记邮箱您将定期获得NextCFD最新的服务动态和资讯更新.</p>
	<form action="" method="">
          <input type="text" value="Name" class="txtfield" onblur="javascript:if(this.value==''){this.value=this.defaultValue;}" onfocus="javascript:if(this.value==this.defaultValue){this.value='';}" />
	  <input type="text" value="Enter Email Address" class="txtfield" onblur="javascript:if(this.value==''){this.value=this.defaultValue;}" onfocus="javascript:if(this.value==this.defaultValue){this.value='';}" />
	  <input type="submit" value="" class="button" />
	</form>
      </div>
      <span class="footnote">版权所有 流体仿真共享平台 Copyright &copy; NextCFD 2017. All rights reserved</span>
    </div> <!-- /#footer -->
    {% endif %}
  </body>
</html>
