{% extends "base.html" %}
{% block title %}NextCFD{% endblock %}
{% block additionJS %}
<script src="js/cufon-yui.js" type="text/javascript"></script>
<script src="js/cufon-replace.js" type="text/javascript"></script>
<script src="js/Open_Sans_400.font.js" type="text/javascript"></script>
<script src="js/Open_Sans_Light_300.font.js" type="text/javascript"></script> 
<script src="js/Open_Sans_Semibold_600.font.js" type="text/javascript"></script>  
<script type="text/javascript" src="js/tms-0.3.js"></script>
<script type="text/javascript" src="js/tms_presets.js"></script>
<script type="text/javascript" src="js/FF-cash.js"></script>
{% endblock %}
{% block content %}
<div id="adbox">
  <div class="body">
    <div class="slider-wrapper">
      <div class="slider">
	<ul class="items">
	  <li><img src="images/slider-img1.jpg" alt="">
	    <strong class="banner">
	      <strong class="b1">Large</strong>
	      <strong class="b2">Scale</strong>
	      <strong class="b3">CFD Cloud Computing</strong>
	    </strong>
	  </li>
	  <li><img src="images/slider-img2.jpg" alt="">
	    <strong class="banner">
	      <strong class="b1">Simulation in</strong>
	      <strong class="b2">browser</strong>
	      <strong class="b3">Connecting to Cloud Server</strong>
	    </strong>
	  </li>
	  <li><img src="images/slider-img3.jpg" alt="">
	    <strong class="banner">
	      <strong class="b1">Real Simple</strong>
	      <strong class="b2">setting</strong>
	      <strong class="b3">to Start a Project</strong>
	    </strong>
	  </li>
	</ul>
	<a class="prev" href="#">prev</a>
	<a class="next" href="#">prev</a>
      </div>
    </div>
  </div>
</div>
</div> <!-- /#adbox -->
<div id="contents">
  <div id="shadowimages">
    <span>
      <img src="images/bottom-shadow.gif" alt="Img" class="preview" />
    </span>
  </div>  
  <div class="body">
    <div id="sidebar">
      <h3>最新动态</h3>
      <ul>
	<li>
	  计算流体力学中的间断Galerkin方法及最新研究进展. 
	  <span>Nov. 21 | by 舒其望 <a href="blog.html">8</a></span>
	</li>
	<li>
	  基于局部各向同性的惯性子区中脉动速度和脉动标量的二阶结构函数的输运方程,即Kolmogorov方程和Yaglom方程.
	  <span>Sept. 13 | by 张佩光 <a href="blog.html">8</a></span>
	</li>
	<li>
	  用边界元法计算流固耦合问题时高次奇异积分的处理方法.  
	  <span>Aug. 4 | by 朱春浩 <a href="blog.html">8</a></span>
	</li>
	<li>
	  基于Voronoi Cells的C~∞插值基函数及其在计算流体力学中的若干应用.
	  <span>July. 25 | by 朱怀球 <a href="blog.html">8</a></span>
	</li>
	<li>
	  应用γ-Reθ转捩模式对超声速、高超声速边界层转捩进行数值模拟. 
	  <span>March. 15 | by 张姚顺 <a href="blog.html">8</a></span>
	</li>
      </ul>
    </div>
    <div id="main">
      <span>我们提供基于浏览器的高置信度流动仿真，4步即可获得仿真结果.</span>
      <ul>
	<li>
	  <a href=""><img src="images/red-number-1.jpg" alt="Img" />
	    <h3>上传网格文件并设置边界条件</h3></a>
	  <p>上传.uns网格文件至云服务器终端，自动完成前处理后修改网格尺度并设置边界条件</p>
	</li>
	<li>
	  <a href=""><img src="images/red-number-2.jpg" alt="Img" />
	    <h3>选择仿真模型及迭代控制参数</h3></a>
	  <p>选择常用仿真模型或添加用户自定义仿真模型，如求解格式，湍流模型，时间步长等</p>
	</li>
	<li>
	  <a href=""><img src="images/red-number-3.jpg" alt="Img" />
	    <h3>控制迭代至收敛</h3></a>
	  <p>计算过程中随时调整CFL数控制最佳迭代收敛速度</p>
	</li>
	<li>
	  <a href=""><img src="images/red-number-4.jpg" alt="Img" />
	    <h3>后处理并下载结果</h3></a>
	  <p>对仿真结果进行后处理并导出用户所需格式，下载保存结果至本地计算机</p>
	</li>
      </ul>
      <p>针对高级用户，云服务器同时提供命令操作方式，只需上传网格和控制文件直接进行通过浏览器远程控制整个仿真过程.</p>
    </div>
  </div>
</div> <!-- /#contents -->
<script type="text/javascript">
  $(function(){
  $('.slider')._TMS({
  prevBu:'.prev',
  nextBu:'.next',
  playBu:'.play',
  duration:800,
  easing:'easeOutQuad',
  preset:'simpleFade',
  pagination:false,
  slideshow:3000,
  numStatus:false,
  pauseOnHover:true,
  banners:true,
  waitBannerAnimation:false,
  bannerShow:function(banner){
  banner
  .hide()
  .fadeIn(500)
  },
  bannerHide:function(banner){
  banner
  .show()
  .fadeOut(500)
  }
  });
  })
</script>
{% endblock %}
