<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>NextCFD</title>
	<link rel="stylesheet" href="css/simstyle.css" type="text/css" charset="utf-8" />	
	<!--[if lte IE 7]>
		<link rel="stylesheet" href="css/simie.css" type="text/css" charset="utf-8" />	
	<![endif]-->
<script type="text/javascript" language="JavaScript" src="js/newprj.js" charset="utf-8"></script>
<script src="SpryAssets/SpryMenuBar.js" type="text/javascript"></script>
<script src="SpryAssets/SpryAccordion.js" type="text/javascript"></script>
<link href="SpryAssets/SpryMenuBarVertical.css" rel="stylesheet" type="text/css">
<link href="SpryAssets/SpryAccordion.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div id="header">
		<a href="index.html" id="logo"><img src="images/logo.jpg" alt="LOGO" /></a>
		<div id="navigation">
			<ul>
				<li><a href="index.html">首页</a></li>
				<li class="selected"><a href="prjmanage.html">工程管理</a></li>
				<li><a href="model.html">模型</a></li>
				<li><a href="mesh.html">网格</a></li>
				<li><a href="calmode.html">计算模块</a></li>
				<li><a href="simulation.html">仿真</a></li>
				<li><a href="postprocess.html">后处理</a></li>
                <li><a href="account.html">账户管理</a></li>
                <li><a href="help.html">获取帮助</a></li>
			</ul>
		</div>
	</div> <!-- /#header -->
	<div id="adbox">
		<div class="body">
		  <table width="80%" border="0" align="center">
		    <tr>
		      <td width="25%" height="74"><p>工程列表</p>
	            <hr></td>
		      <td width="75%"><p>工程文件概览</p>
	            <hr></td>
	        </tr>
		    <tr>
		      <td><form name="form1" method="post" action="">
		        <table width="254" border="0">
		          <tr>
		            <td bgcolor="#EAEAEA"><p>&nbsp;
		              </p>
		              <p>
		                <input type="button" name="新建工程" id="新建工程" value="新建工程" onClick="newprj()">
		                <input type="submit" name="删除工程" id="删除工程" value="删除工程">
		                <input type="submit" name="下载工程" id="下载工程" value="下载工程">
                    </p>
	                <p>&nbsp;</p></td>
	              </tr>
		          <tr>
		            <td><ul id="MenuBar1" class="MenuBarVertical">
		              <li><a class="MenuBarItemSubmenu" href="#">二元高超声速进气道仿真</a>
		                <ul>
		                  <li><a href="#">模型</a></li>
		                  <li><a href="#">网格</a></li>
                          <li><a href="#">计算模块</a></li>
                          <li><a href="#">仿真</a></li>
                          <li><a href="#">后处理</a></li>
		                </ul>
	                  </li>
		              <li><a href="#" class="MenuBarItemSubmenu">三维内收缩进气道仿真</a>
		                <ul>
                          <li><a href="#">模型</a></li>
                          <li><a href="#">网格</a></li>
                          <li><a href="#">计算模块</a></li>
                          <li><a href="#">仿真</a></li>
                          <li><a href="#">后处理</a></li>
		                </ul>
		              </li>
		              <li><a class="MenuBarItemSubmenu" href="#">飞鸟无人机全三维仿真</a>
		                <ul>
		                  <li><a href="#">模型</a>	                      </li>
		                  <li><a href="#">网格</a></li>
                          <li><a href="#">计算模块</a></li>
                          <li><a href="#">仿真</a></li>
                          <li><a href="#">后处理</a></li>
		                </ul>
	                  </li>
                      <li><a href="#" class="MenuBarItemSubmenu">NACA翼型仿真</a>
                        <ul>
                          <li><a href="#">模型</a></li>
                          <li><a href="#">网格</a></li>
                          <li><a href="#">计算模块</a></li>
                          <li><a href="#">仿真</a></li>
                          <li><a href="#">后处理</a></li>
                        </ul>
                      </li>
                      <li><a href="#" class="MenuBarItemSubmenu">摩托车加速行驶仿真</a>
                        <ul>
                          <li><a href="#">模型</a></li>
                          <li><a href="#">网格</a></li>
                          <li><a href="#">计算模块</a></li>
                          <li><a href="#">仿真</a></li>
                          <li><a href="#">后处理</a></li>
                        </ul>
                      </li>
                      <li><a href="#" class="MenuBarItemSubmenu">风力发电叶片仿真</a>
                        <ul>
                          <li><a href="#">模型</a></li>
                          <li><a href="#">网格</a></li>
                          <li><a href="#">计算模块</a></li>
                          <li><a href="#">仿真</a></li>
                          <li><a href="#">后处理</a></li>
                        </ul>
                      </li>
                      <li><a href="#" class="MenuBarItemSubmenu">火箭喷管燃料注射仿真</a>
                        <ul>
                          <li><a href="#">模型</a></li>
                          <li><a href="#">网格</a></li>
                          <li><a href="#">计算模块</a></li>
                          <li><a href="#">仿真</a></li>
                          <li><a href="#">后处理</a></li>
                        </ul>
                      </li>
                      <li><a href="#" class="MenuBarItemSubmenu">机翼下调副翼动态仿真</a>
                        <ul>
                          <li><a href="#">模型</a></li>
                          <li><a href="#">网格</a></li>
                          <li><a href="#">计算模块</a></li>
                          <li><a href="#">仿真</a></li>
                          <li><a href="#">后处理</a></li>
                        </ul>
                      </li>
		            </ul></td>
	              </tr>
	            </table>
	          </form></td>
		      <td><form name="form2" method="post" action="">
		        <div id="Accordion1" class="Accordion" tabindex="0">
		          <div class="AccordionPanel">
		            <div class="AccordionPanelTab">模型文件基本信息</div>
		            <div class="AccordionPanelContent">模型文件名称：<br>
                    模型文件创建时间：<br>
                    模型文件大小：<br>
                    模型文件最新修改时间：</div>
	              </div>
                  <div class="AccordionPanel">
                    <div class="AccordionPanelTab">网格文件基本信息</div>
                    <div class="AccordionPanelContent">内容 2</div>
                  </div>
                  <div class="AccordionPanel">
                    <div class="AccordionPanelTab">计算模块基本信息</div>
                    <div class="AccordionPanelContent">内容 3</div>
                  </div>
                  <div class="AccordionPanel">
                    <div class="AccordionPanelTab">仿真文件基本信息</div>
                    <div class="AccordionPanelContent">内容 4</div>
                  </div>
                  <div class="AccordionPanel">
                    <div class="AccordionPanelTab">后处理文件基本信息</div>
                    <div class="AccordionPanelContent">内容 5</div>
                  </div>
		        </div>
              </form></td>
	        </tr>
	      </table>
		  <p>&nbsp;</p>
</div>
	</div> <!-- /#adbox --><!-- /#contents -->
<div id="footer">
		<ul class="contacts">
			<h3>联系我们</h3>
			<li><span>Email</span>
			<p>: biz@nextcfd.cn</p></li>
			<li><span>地址</span>
			  <p>: 厦门市思明区厦门大学航空航天学院 361005</p></li>
			<li><span>电话</span>
			<p>: 86-0592-2186849</p></li>
		</ul>
		<ul id="connect">
			<h3>关注我们</h3>
			<li><a href="blog.html">新浪微博</a></li>
			<li><a href="http://facebook.com/freewebsitetemplates" target="_blank">微信</a></li>
			<li><a href="http://twitter.com/fwtemplates" target="_blank">人人网</a></li>
		</ul>
		<div id="newsletter">
			<p><b>获取最新信息</b></p>
			<p>&nbsp;</p>
			<p>登记邮箱您将定期获得NextCFD最新的服务动态和资讯更新.</p>
			<form action="" method="">
        <input type="text" value="Name" class="txtfield" onblur="javascript:if(this.value==''){this.value=this.defaultValue;}" onfocus="javascript:if(this.value==this.defaultValue){this.value='';}" />
				<input type="text" value="Enter Email Address" class="txtfield" onblur="javascript:if(this.value==''){this.value=this.defaultValue;}" onfocus="javascript:if(this.value==this.defaultValue){this.value='';}" />
				<input type="submit" value="" class="button" />
			</form>
		</div>
		<span class="footnote">版权所有 流体仿真共享平台 Copyright &copy; NextCFD 2017. All rights reserved</span></div> <!-- /#footer -->
<script type="text/javascript">
var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", {imgRight:"SpryAssets/SpryMenuBarRightHover.gif"});
var Accordion1 = new Spry.Widget.Accordion("Accordion1");
</script>
</body>
</html>